<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Camaro</title>
</head>
<body>
    <%- include('../partials/sidebar'); %>

    <div class="custom-container">
        <div class="row">
            <h1 class="pagetitle">Camaro</h1>
        </div>
        <div class="row">
            <!-- Filters -->
            <div class="col-md-12 mb-3">
                <h4>Filter</h4>
                <form id="filterForm">
                    <% trims.forEach(function(trim) { %>
                        <div class="form-check">
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                id="trim_<%= trim %>" 
                                value="<%= trim %>"
                                <%= selectedTrims.includes(trim) ? 'checked' : '' %>
                            >
                            <label class="form-check-label" for="trim_<%= trim %>">
                                <%= trim %>
                            </label>
                        </div>
                    <% }) %>
                    <button type="submit" class="btn btn-primary mt-2">Apply Filters</button>
                </form>
            </div>
            
            <!-- Camaro Table -->
            <div class="table-responsive">
                <% if (locals.trim_data) { %>
                <table class="table table-sm table-hover border border shadow" id="allTable">
                    <thead>
                        <tr>
                            <th scope="col">VIN</th>
                            <th scope="col">Year</th>
                            <th scope="col">Body</th>
                            <th scope="col">Trim</th>
                            <th scope="col">Engine</th>
                            <th scope="col">Transmission</th>
                            <th scope="col">Exterior Color</th>
                            <th scope="col">MSRP</th>
                            <th scope="col">Country</th>
                            <th scope="col">Dealer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% locals.trim_data.forEach(function(data) { %>
                            <tr style="cursor: pointer;" onmousedown="handleMouseDown(event);" onclick="handleRowClick('/search?vin=<%= data.vin %>');">
                                <td scope="row"><%= data.vin %></td>
                                <td scope="row"><%= data.modelYear %></td>
                                <td scope="row"><%= data.body %></td>
                                <td scope="row"><%= data.trim %></td>
                                <td scope="row"><%= data.vehicleEngine %></td>
                                <td scope="row"><%= data.transmission %></td>
                                <td scope="row"><%= data.exterior_color %></td>
                                <td scope="row" style="text-align: right;"><%= data.msrp %></td>
                                <td scope="row">
                                    <% const state = data.location.split(',')[1].trim().split(' ')[0];
                                      if (["AB", "BC", "MB", "NB", "NF", "NS", "NT", "ON", "PE", "PQ", "SK"].includes(state)) { %>
                                      <img src="../img/canada_flag.png" alt="Canada" width="20">
                                    <% } else { %>
                                      <img src="../img/usa_flag.png" alt="USA" width="20">
                                    <% } %>
                                </td>
                                <td scope="row"><%= data.dealer %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <% } %>
            </div>
        </div>
    </div>
    <%- include('../partials/footer'); %>
    <script>
        let startX;

        function handleMouseDown(event) {
            startX = event.clientX;
        }

        function handleRowClick(url) {
            const distance = Math.abs(event.clientX - startX);
            if (distance > 5) {
                return;
            }
            window.location.href = url;
        }

        document.addEventListener('DOMContentLoaded', function() {
            const filterForm = document.getElementById('filterForm');

            filterForm.addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the form from submitting normally
                
                const checkboxes = filterForm.querySelectorAll('input[type="checkbox"]');
                const selectedOptions = Array.from(checkboxes)
                                             .filter(checkbox => checkbox.checked)
                                             .map(checkbox => checkbox.value);

                const queryString = selectedOptions.map(option => `trim=${option}`).join('&');
                const url = `/camaro?${queryString}`;
                window.location.href = url;
            });
        });
    </script>
</body>
</html>
