<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <title>Camaro Collector's Edition</title>
</head>

<body>
    <%- include('../partials/sidebar'); %>

      <div class="custom-container">
          <div class="row">
            <h1 class="pagetitle">ZL1 Collector's Edition</h1>
            <!-- ZL1 CE Table -->
            <div class="table-responsive">
              <% if (locals.ce_data) { %>
              <table class="table table-sm table-hover border border shadow" id="allTable">
                <thead>
                  <tr>
                    <th scope="col">VIN</th>
                    <th scope="col">Year</th>
                    <th scope="col">Model</th>
                    <th scope="col">Body</th>
                    <th scope="col">Trim</th>
                    <th scope="col">Engine</th>
                    <th scope="col">Transmission</th>
                    <th scope="col">Drivetrain</th>
                    <th scope="col">Exterior Color</th>
                    <th scope="col">MSRP</th>
                    <th scope="col">###/350</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Country</th>
                    <th scope="col">Dealer</th>
                  </tr>
                </thead>
                <tbody>
                  <% let counter = 1; %>
                  <% locals.ce_data.forEach(function(data) { %>
                    <tr style="cursor: pointer;" onmousedown="handleMouseDown(event);" onclick="handleRowClick('/search?vin=<%= data.vin %>');">
                      <td><%= data.vin %></td>
                      <td><%= data.modelYear %></td>
                      <td><%= data.model %></td>
                      <td><%= data.body %></td>
                      <td><%= data.trim %></td>
                      <td><%= data.vehicleEngine %></td>
                      <td><%= data.transmission %></td>
                      <td><%= data.drivetrain %></td>
                      <td><%= data.exterior_color %></td>
                      <td style="text-align: <%= data.msrp === 'N/A' ? 'center' : 'right' %>;">
                        <%= data.msrp %>
                      </td>
                      <td><%= (counter++).toString().padStart(3, '0') %></td>
                      <td>
                        <%= new Date((JSON.parse(data.allJson)).creation_date).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %>
                      </td>
                      <td>
                        <% if (data.location) { %>
                          <% const state = data.location.split(',')[1]?.trim().split(' ')[0]; %>
                          <% if (state && ["AB", "BC", "MB", "NF", "NT", "ON", "PE", "PQ", "SK"].includes(state)) { %>
                            <img src="../img/canada_flag.png" alt="Canada" width="20">
                          <% } else { %>
                            <img src="../img/usa_flag.png" alt="USA" width="20">
                          <% } %>
                        <% } else { %>
                          <img src="../img/mexico_flag.png" alt="Mexico" width="20">
                        <% } %>
                      </td>
                      <td>
                        <% if (data.dealer) { %>
                          <%= data.dealer %>
                        <% } else { %>
                          N/A
                        <% } %>
                      </td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
              <% } %>
            </div>
          </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer'); %>
  <script>
    let startX;

    function handleMouseDown(event) {
      // Store the starting X coordinate of the mouse
      startX = event.clientX;
    }

    function handleRowClick(url) {
      // Calculate the horizontal distance the mouse has moved
      const distance = Math.abs(event.clientX - startX);

      // If the mouse has moved more than 5 pixels horizontally, consider it as text selection
      if (distance > 5) {
        return;
      }

      // Navigate to the specified URL
      window.location.href = url;
    }

  </script>
</body>

</html>
