<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <script src="../partials/rpo.js"></script>
    <% 
      function checkRPO(data) {
        let has1LE = false; 
        let hasCE = false;
        let hasG56 = false;
        if (data.allJson) {
          const rpos = JSON.parse(data.allJson).Options;
          if (rpos) {
            has1LE = rpos.includes('A1Y') || rpos.includes('A1X') || rpos.includes('A1Z');
            hasCE = rpos.includes('Z4B');
            hasG56 = rpos.includes('X56');
          }
        }
        return { has1LE, hasCE, hasG56 };
      }

      let allHas = { has1LE: false, hasCE: false, hasG56: false };
      vin_data.forEach(data => {
        const result = checkRPO(data);
        allHas.has1LE = allHas.has1LE || result.has1LE;
        allHas.hasCE = allHas.hasCE || result.hasCE;
        allHas.hasG56 = allHas.hasG56 || result.hasG56;
      });
    %>
    <title>
      <%= vin_data[0].modelYear || 'N/A' %> 
      <%= vin_data[0].model || 'N/A' %> 
      <%= vin_data[0].trim || 'N/A' %> 
      <%= allHas.has1LE ? '1LE' : '' %>
      <%= allHas.hasCE ? 'CE' : '' %>
      <%= allHas.hasG56 ? 'G56' : '' %>
    </title>
</head>

<body>
  <%- include('../partials/sidebar'); %>

    <div class="container">
        <div class="row">
          <% if (vin_data && vin_data.length > 0) { %>
            <h1 style="padding-top: 20px;">
              <%= vin_data[0].modelYear || 'N/A' %>
              <%= vin_data[0].model || 'N/A' %>
              <%= vin_data[0].trim || 'N/A' %>
              <% 
                let has1LE = false; 
                let hasCE = false;
                let hasG56 = false;
                vin_data.forEach(data => {
                  if (data.allJson) {
                    const rpos = JSON.parse(data.allJson).Options;
                    if (rpos && (rpos.includes('A1Y') || rpos.includes('A1X') || rpos.includes('A1Z'))) {
                      has1LE = true;
                    }
                    if (rpos && rpos.includes('Z4B')) {
                      hasCE = true;
                    }
                    if (rpos && rpos.includes('X56')) {
                      hasG56 = true;
                    }
                  }
                });
              %>
              <%= has1LE ? '1LE' : '' %>
              <%= hasCE ? 'Collectors Edition' : '' %>
              <%= hasG56 ? 'Garage 56 Special Edition' : '' %>
            </h1>
            <table class="table table-hover border border shadow" id="vinTable">
              <tbody>
                  <% vin_data.forEach(function(data) { %>
                  <tr data-alljson='<%= JSON.stringify(data.allJson) %>'>
                    <td><strong>VIN:</strong></td>
                    <td>
                      <a href="https://cws.gm.com/vs-cws/vehshop/v2/vehicle/windowsticker?vin=<%= data.vin || 'N/A' %>" target="_blank">
                        <%= data.vin || 'N/A' %>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>ORDER NUMBER:</strong></td>
                    <td><%= data.ordernum || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td><strong>CREATION DATE:</strong></td>
                    <td>
                      <%= data.allJson ? new Date(JSON.parse(data.allJson).creation_date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) : 'N/A' %>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>YEAR:</strong></td>
                    <td><%= data.modelYear || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td><strong>MODEL:</strong></td>
                    <td><%= data.model || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td><strong>TRIM:</strong></td>
                    <td><%= data.trim || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td><strong>BODY:</strong></td>
                    <td><%= data.body || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td><strong>ENGINE:</strong></td>
                    <td><%= data.vehicleEngine || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td><strong>TRANSMISSION:</strong></td>
                    <td><%= data.transmission || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td><strong>DRIVETRAIN:</strong></td>
                    <td><%= data.drivetrain || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td><strong>COLOR:</strong></td>
                    <td><%= data.exterior_color || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td><strong>MSRP:</strong></td>
                    <td><%= data.msrp || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td><strong>DEALER:</strong></td>
                    <td><%= data.dealer || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td><strong>LOCATION:</strong></td>
                    <td><%= data.location || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td><strong>COUNTRY:</strong></td>
                    <td style="display: flex; align-items: center; justify-content: center;">
                      <% if (data.location) { %>
                        <% const state = data.location.split(',')[1]?.trim().split(' ')[0]; %>
                        <% if (state && ["AB", "BC", "MB", "NF", "NT", "ON", "PE", "PQ", "SK"].includes(state)) { %>
                          <img src="../img/canada_flag.png" alt="Canada" width="30" style="padding-right: 5px;">Canada
                        <% } else { %>
                          <img src="../img/usa_flag.png" alt="USA" width="30" style="padding-right: 5px;">United States
                        <% } %>
                      <% } else { %>
                        <img src="../img/mexico_flag.png" alt="Mexico" width="30" style="padding-right: 5px;">Mexico
                      <% } %>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
            <!-- Photo Carousel -->
            <div id="carousel-container" style="position: relative; min-height: 740px; width: 100%; margin: auto; overflow: hidden;">
              <div id="loading-animation" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <div class="spinner"></div>
              </div>
              <img id="carousel-image" src="" style="width: 100%;"/>
              <button id="prev" style="position: absolute; top: 50%; left: 0; background-color: rgba(0, 0, 0, 0.5); color: white; border: none; padding: 10px; cursor: pointer; z-index: 100;">&#10094;</button>
              <button id="next" style="position: absolute; top: 50%; right: 0; background-color: rgba(0, 0, 0, 0.5); color: white; border: none; padding: 10px; cursor: pointer; z-index: 100;">&#10095;</button>
            </div>
            <div class="rarity-container">
              <% vin_data.forEach(function(data) { %>
                <% if (data.allJson) { %>
                  <button id="see-rarity" class="btn btn-primary rarity-btn" data-alljson='<%= JSON.stringify(data.allJson) %>'>See Rarity</button>
                <% } %>
              <% }); %>
              <div class="response-container">
                <div id="response" class="response"></div>
                <a id="snark" style="color: rgb(40, 40, 40);"></a>
              </div>
            </div>
            <table class="table table-hover border border shadow" id="rpoTable">
              <thead>
                <tr>
                  <th scope="col" style="white-space: nowrap;">RPO Code</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <% vin_data.forEach(function(data) { %>
                  <% if (data.allJson) { %>
                    <% 
                      const rpos = (JSON.parse(data.allJson)).Options;
                    %>
                    <% rpos.forEach(function(rpo) { %>
                      <% if (rpo) { %>
                        <tr>
                          <td class="<%= rpo.includes('OAR') ? 'highlight' : '' %>"><%= rpo %></td>
                          <td class="rpo-description" data-code="<%= rpo || 'N/A' %>" style="text-align: left;"></td>
                        </tr>
                      <% } %>
                    <% }); %>
                  <% } else { %>
                    <tr>
                      <td colspan="2">No data available</td>
                    </tr>
                  <% } %>
                <% }) %>
              </tbody>
            </table>
            <h5 style="color: white;">
              Decoded by <a href="https://decoderpo.com/" style="color: white; text-decoration: underline;">https://decoderpo.com/</a>
            </h5>            
          <% } else { %>
            <h1>No VIN data found</h1>
          <% } %>
        </div>
    </div>
    <%- include('../partials/footer'); %>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const descriptionCells = document.querySelectorAll('.rpo-description');
        descriptionCells.forEach(cell => {
            const code = cell.getAttribute('data-code');
            cell.textContent = getRPODescription(code);
        });

        const mmc = <%- JSON.stringify(mmc) %>;
        const colorMap = <%- JSON.stringify(colorMap) %>;
        const allJson = <%- JSON.stringify(vin_data[0].allJson) %>;

        const generatedImage = document.getElementById('generated-image');
        const loadingAnimation = document.getElementById('loading-animation');
        loadingAnimation.style.direction = 'block';
        const data = { mmc, colorMap, allJson };

        fetch('/api/genurl', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
          const carouselImage = document.getElementById('carousel-image');
          const images = data.url.generatedImages;

          if (images === "../img/ghost-chevrolet-car-alt.png") {
            carouselImage.src = images;
            loadingAnimation.style.display = 'none';
          } else {
            let currentIndex = 0;

            function showImage(index) {
              carouselImage.src = images[index];
              carouselImage.alt = `Image ${index + 1}`;
              loadingAnimation.style.display = 'none';
            }

            showImage(currentIndex);

            document.getElementById('prev').addEventListener('click', () => {
              currentIndex = (currentIndex === 0) ? images.length - 1 : currentIndex - 1;
              showImage(currentIndex);
            });

            document.getElementById('next').addEventListener('click', () => {
              currentIndex = (currentIndex === images.length - 1) ? 0 : currentIndex + 1;
              showImage(currentIndex);
            });
          }
        })
        .catch(error => {
        console.error('Error loading generated photo:', error);
        });

        
        const button = document.getElementById('see-rarity');
        button.addEventListener('click', () => {
          const allJson = button.getAttribute('data-alljson');
          const dataObject = JSON.parse(allJson);

          fetch('/api/rarity', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: dataObject,
          })
          .then(response => response.json())
          .then(data => {
              document.getElementById('response').textContent = `1 of ${data[0].Count}`;
              document.getElementById('snark').textContent = "- on the fourth Tuesday, after company lunch with a crescent moon when Joey went home early...";
          })
          .catch((error) => {
              console.error('Error:', error);
          });
        });
      });
    </script>
</body>

</html>
