<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/sidebar'); %>

    <div class="container">
        <div class="row">
          <% if (vin_data.length > 0) { %>
            <h1><%= vin_data[0].modelYear %> <%= vin_data[0].model %> <%= vin_data[0].trim %></h1>
            <a href="https://cws.gm.com/vs-cws/vehshop/v2/vehicle/windowsticker?vin=<%= vin_data[0].vin %>" target="_blank">
                <i class="bi bi-file-earmark-text"><%= vin_data[0].vin %></i>
            </a>
            <table class="table table-hover border border shadow" id="vinTable">
              <tbody>
                  <% locals.vin_data.forEach(function(data) { %>
                  <tr>
                      <td><strong>ORDER NUMBER:</strong></td>
                      <td><%= data.ordernum %></td>
                  </tr>
                  <tr>
                      <td><strong>YEAR:</strong></td>
                      <td><%= data.modelYear %></td>
                  </tr>
                  <tr>
                    <td><strong>MODEL:</strong></td>
                    <td><%= data.model %></td>
                  </tr>
                  <tr>
                      <td><strong>TRIM:</strong></td>
                      <td><%= data.trim %></td>
                  </tr>
                  <tr>
                      <td><strong>BODY:</strong></td>
                      <td><%= data.body %></td>
                  </tr>
                  <tr>
                      <td><strong>ENGINE:</strong></td>
                      <td><%= data.vehicleEngine %></td>
                  </tr>
                  <tr>
                      <td><strong>TRANSMISSION:</strong></td>
                      <td><%= data.transmission %></td>
                  </tr>
                  <tr>
                      <td><strong>DRIVETRAIN:</strong></td>
                      <td><%= data.drivetrain %></td>
                  </tr>
                  <tr>
                      <td><strong>COLOR:</strong></td>
                      <td><%= data.exterior_color %></td>
                  </tr>
                  <tr>
                      <td><strong>MSRP:</strong></td>
                      <td><%= data.msrp %></td>
                  </tr>
                  <tr>
                      <td><strong>DEALER:</strong></td>
                      <td><%= data.dealer %></td>
                  </tr>
                  <tr>
                      <td><strong>LOCATION:</strong></td>
                      <td><%= data.location %></td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
            <table class="table table-hover border border shadow" id="rpoTable">
              <thead>
                  <tr>
                      <th scope="col">RPO Code</th>
                      <th scope="col">Description</th>
                  </tr>
              </thead>
              <tbody>
                  <% locals.vin_data.forEach(function(data) { %>
                      <% if (data.allJson.Options) { %>
                          <% data.allJson.Options.split(' ').forEach(function(rpo) { %>
                              <tr>
                                  <td><%= rpo %></td>
                                  <td><%= rpoDescriptions[rpo] || "Description not found" %></td>
                              </tr>
                          <% }) %>
                      <% } else { %>
                          <tr>
                              <td colspan="2">No RPOS available</td>
                          </tr>
                      <% } %>
                  <% }) %>
              </tbody>
            </table>
          <% } else { %>
            <h2>No VIN data found</h2>
          <% } %>
        </div>
    </div>
  </div>
</div>
</body>

</html>
