<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <script src="../partials/rpo.js"></script>
    <title>
      <%= (vin_data[0].modelYear ? "'" + vin_data[0].modelYear.toString().slice(-2) : 'N/A') %>
      <%= vin_data[0].model || 'N/A' %> 
      <%= vin_data[0].trim || 'N/A' %> 
    </title>
</head>

<body>
  <%- include('../partials/header'); %>
    <div class="container">
        <div class="row">
          <% if (vin_data && vin_data.length > 0) { %>
            <h1 style="padding-top: 20px; display: flex; align-items: center; width: 100%;">
              <%= vin_data[0].modelYear || 'N/A' %>
              <%= vin_data[0].model || 'N/A' %>
              <%= vin_data[0].trim || 'N/A' %>
            </h1>
            <% if (vin_data[0].special_descs && vin_data[0].special_descs !== 'NA') { %>
              <div>
                <h4>
                  <em>
                    <% 
                      // Split the special_descs by comma and iterate over each description
                      const specialDescs = vin_data[0].special_descs.split(', ');
                      specialDescs.forEach(desc => { 
                    %>
                      <div><%= desc %></div>
                    <% }); %>
                  </em>
                </h4>
              </div>
            <% } %>
            <table class="table-veh table-hover border border shadow" id="vinTable">
              <tbody>
                  <% vin_data.forEach(function(data) { %>
                  <tr>
                    <td class="label-column"><strong>VIN:</strong></td>
                    <td><%= data.vin || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td class="label-column"><strong>ORDER NUMBER:</strong></td>
                    <td><%= data.order_number || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td class="label-column"><strong>STICKER CREATION DATE:</strong></td>
                    <td>
                      <%= data.formatted_date || 'N/A' %>
                    </td>
                  </tr>
                  <tr>
                    <td class="label-column"><strong>YEAR:</strong></td>
                    <td><%= data.modelYear || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td class="label-column"><strong>MODEL:</strong></td>
                    <td><%= data.model || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td class="label-column"><strong>TRIM:</strong></td>
                    <td><%= data.trim || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td class="label-column"><strong>BODY:</strong></td>
                    <td><%= data.body || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td class="label-column"><strong>ENGINE:</strong></td>
                    <td><%= data.engine_type || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td class="label-column"><strong>TRANSMISSION:</strong></td>
                    <td><%= data.transmission_type || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td class="label-column"><strong>DRIVETRAIN:</strong></td>
                    <td><%= data.drivetrain_type || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td class="label-column"><strong>EXTERIOR COLOR:</strong></td>
                    <td><%= data.color_name || 'N/A' %></td>
                  </tr>
                  <% if (data.rpo_codes) { %>
                    <%
                      let matchedIntColor = 'N/A';
                      let matchedSeat = 'N/A';
                      data.rpo_codes.forEach(function(rpo) {
                        if (intColor[rpo]) {
                          matchedIntColor = intColor[rpo];
                        }
                        if (seatCode[rpo]) {
                          matchedSeat = seatCode[rpo];
                        }
                      });
                    %>
                  <tr>
                    <td class="label-column"><strong>INTERIOR COLOR:</strong></td>
                    <td><%= matchedIntColor.toUpperCase() %></td>
                  </tr>
                  <tr>
                    <td class="label-column"><strong>SEAT:</strong></td>
                    <td><%= matchedSeat.toUpperCase() %></td>
                  </tr>
                  <% } %>
                  <tr>
                    <td class="label-column"><strong>MSRP:</strong></td>
                    <td>$<%= data.msrp || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td class="label-column"><strong>DEALER:</strong></td>
                    <td><%= data.dealer_name || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td class="label-column"><strong>LOCATION:</strong></td>
                    <td><%= data.location || 'N/A' %></td>
                  </tr>
                  <tr>
                    <td class="label-column"><strong>COUNTRY:</strong></td>
                    <td>
                      <% if (data.country) { %>
                        <% if (data.country === 'CANADA') { %>
                          <img src="../img/flags/canada_flag.png" alt="Canada" width="30" style="margin-right: 5px;">CANADA
                        <% } else if (data.country === 'USA') { %>
                          <img src="../img/flags/usa_flag.png" alt="USA" width="30" style="margin-right: 5px;">UNITED STATES
                        <% } else if (data.country === 'MEXICO') { %>
                          <img src="../img/flags/mexico_flag.png" alt="Mexico" width="30" style="margin-right: 5px;">Mexico
                        <% } %>
                      <% } %>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
            <!-- Photo Carousel -->
            <div id="carousel-container" style="position: relative; min-height: 740px; width: 100%; margin: auto; overflow: hidden;">
              <div id="loading-animation">
                <div class="spinner" style="position: absolute; top: 48%; left: 50%; transform: translate(-50%, -50%); align-items: center;"></div>
                <h4 style="position: absolute; top: 58%; left: 51%; transform: translate(-50%, -50%); align-items: center;">Generating Photos...</h4>
              </div>
              <img id="carousel-image" src="" style="width: 100%;">
              <button id="prev" style="position: absolute; top: 50%; left: 0; background-color: rgba(0, 0, 0, 0.5); color: white; border: none; padding: 10px; cursor: pointer; z-index: 100;">&#10094;</button>
              <button id="next" style="position: absolute; top: 50%; right: 0; background-color: rgba(0, 0, 0, 0.5); color: white; border: none; padding: 10px; cursor: pointer; z-index: 100;">&#10095;</button>
            </div>
            <!-- Window Sticker -->
            <div id="sticker-container">
              <iframe id="window-sticker" src="https://cws.gm.com/vs-cws/vehshop/v2/vehicle/windowsticker?vin=<%= vin_data[0].vin || 'N/A' %>" style="min-height: 886px; width: 100%;"></iframe>
            </div>
            <!-- <div class="rarity-container">
              <% vin_data.forEach(function(data) { %>
                <% if (data.allJson) { %>
                  <button id="see-rarity" class="btn btn-primary rarity-btn" data-alljson='<%= JSON.stringify(data.allJson) %>'>See Rarity</button>
                <% } %>
              <% }); %>
              <div class="response-container">
                <div id="response" class="response"></div>
                <div><a id="snark" style="color: rgb(40, 40, 40);"></a></div>
              </div>
            </div> -->
            <table class="table-veh table-hover border border shadow" id="rpoTable">
              <thead>
                <tr>
                  <th scope="col" style="white-space: nowrap;">RPO Code</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <% vin_data.forEach(function(data) { %>
                  <% if (data.rpo_codes) { %>
                    <% data.rpo_codes.forEach(function(rpo) { %>
                      <% if (rpo) { %>
                        <tr>
                          <td class="<%= rpo.includes('OAR') ? 'highlight' : '' %>"><%= rpo %></td>
                          <td class="rpo-description" data-code="<%= rpo %>" style="text-align: left;"></td>
                        </tr>
                      <% } %>
                    <% }); %>
                  <% } else { %>
                    <tr>
                      <td colspan="2">No data available</td>
                    </tr>
                  <% } %>
                <% }) %>
              </tbody>
            </table>
            <h5 style="color: white;">
              RPOs Decoded by <a href="https://decoderpo.com/" style="color: white; text-decoration: underline;">https://decoderpo.com/</a>
            </h5>            
          <% } else { %>
            <h1>No VIN data found</h1>
          <% } %>
        </div>
    </div>
    <%- include('../partials/footer'); %>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.rpo-description').forEach(function(element) {
          const rpoCode = element.getAttribute('data-code');
          const description = getRPODescription(rpoCode);
          element.textContent = description;
        });

        const carouselImage = document.getElementById('carousel-image');
        const loadingAnimation = document.getElementById('loading-animation');
        loadingAnimation.style.direction = 'block';
        
        const mmc = <%- JSON.stringify(mmc) %>;
        const colorMap = <%- JSON.stringify(colorMap) %>;
        const intColor = <%- JSON.stringify(intColor) %>;
        const seatCode = <%- JSON.stringify(seatCode) %>;
        const vin_data = <%- JSON.stringify(vin_data) %>;
        const data = { mmc, colorMap, intColor, vin_data };

        fetch('/api/genurl', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
          const images = data.url.generatedImages;

          if (images === "../img/ghost-chevrolet-car-alt.png") {
            carouselImage.src = images;
            loadingAnimation.style.display = 'none';
          } else {
            let currentIndex = 0;
            let initialLoad = true;

            function preloadImage(src) {
              const img = new Image();
              img.src = src;
            }

            function showImage(index) {
                if (initialLoad) {
                    carouselImage.src = images[index];
                    carouselImage.alt = `Image ${index + 1}`;
                    loadingAnimation.style.display = 'none';
                    initialLoad = false;
                } else {
                    carouselImage.style.opacity = 0;
                    setTimeout(() => {
                        carouselImage.src = images[index];
                        carouselImage.alt = `Image ${index + 1}`;
                        carouselImage.style.opacity = 1;
                    }, 200);
                }

                const nextIndex = (index + 1) % images.length;
                preloadImage(images[nextIndex]);
            }

            showImage(currentIndex);

            document.getElementById('prev').addEventListener('click', () => {
              currentIndex = (currentIndex === 0) ? images.length - 1 : currentIndex - 1;
              showImage(currentIndex);
            });

            document.getElementById('next').addEventListener('click', () => {
              currentIndex = (currentIndex === images.length - 1) ? 0 : currentIndex + 1;
              showImage(currentIndex);
            });
          }
        })
        .catch(error => {
        console.error('Error loading generated photo:', error);
        });

        
        // const button = document.getElementById('see-rarity');
        // button.addEventListener('click', () => {
        //   const dataObject = JSON.parse(vin_data.vin);

        //   fetch('/api/rarity', {
        //       method: 'POST',
        //       headers: {
        //           'Content-Type': 'application/json',
        //       },
        //       body: dataObject,
        //   })
        //   .then(response => response.json())
        //   .then(data => {
        //       document.getElementById('response').textContent = `1 of ${data[0].Count}`;
        //       document.getElementById('snark').textContent = "- on the fourth Tuesday, after company lunch with a crescent moon when Joey went home early...";
        //   })
        //   .catch((error) => {
        //       console.error('Error:', error);
        //   });
        // });
      });
    </script>
</body>

</html>
