<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>    
    <title>Vehicles</title>
</head>
<body>
    <%- include('../partials/sidebar'); %>
    <div class="custom-container">
        <div class="row">
            <h1 class="pagetitle">Vehicles</h1>
        </div>
        <div class="row">
            <!-- Filters -->
            <div class="col-md-12 mb-3">
                <h4>Filter</h4>
                <form id="filterForm">
                    <% models.forEach(function(model) { %>
                        <div class="form-check">
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                id="model_<%= model %>" 
                                value="<%= model %>"
                                <%= selectedModels.includes(model) ? 'checked' : '' %>
                            >
                            <label class="form-check-label" for="model_<%= model %>">
                                <%= model %>
                            </label>
                        </div>
                    <% }) %>
                    <button type="submit" class="btn btn-primary mt-2">Apply Filters</button>
                    <button type="button" id="clearFilters" class="btn btn-secondary mt-2">Clear Filters</button>
                </form>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="dropdown-container">
                        <select id="rpoSelect" class="form-select">
                            <option value="">Select Package/Option</option>
                            <option value="Z4B" <% if (selectedRPO === 'Z4B') { %>selected<% } %>>Collector's Edition</option>
                            <option value="X56" <% if (selectedRPO === 'X56') { %>selected<% } %>>Garage 56 Special Edition</option>
                            <option value="A1Z" <% if (selectedRPO === 'A1Z') { %>selected<% } %>>ZL1 1LE</option>
                            <option value="A1Y" <% if (selectedRPO === 'A1Y') { %>selected<% } %>>SS 1LE</option>
                            <option value="A1X" <% if (selectedRPO === 'A1X') { %>selected<% } %>>LT 1LE</option>
                            <option value="LF4" <% if (selectedRPO === 'LF4') { %>selected<% } %>>CT4-V Blackwing</option>
                            <option value="1SV" <% if (selectedRPO === '1SV') { %>selected<% } %>>CT5-V Blackwing</option>
                            <option value="OAR" <% if (selectedRPO === 'OAR') { %>selected<% } %>>Pre-Production Vehicle</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="stats">
                <!-- Dropdown and Total -->
                <div class="col-md-2">
                    <div class="row">
                        <div class="total-container" style="display: flex;">
                            <p style="color: rgb(103, 103, 103);">Retrieved <%= totalItems.toLocaleString() %> vehicles in <%= elapsedTime.toLocaleString() %> seconds</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="dropdown-container" style="margin-bottom: 15px;">
                            <select id="limitSelect" class="form-select">
                                <option value="100" <% if (limit === 100) { %>selected<% } %>>100</option>
                                <option value="150" <% if (limit === 150) { %>selected<% } %>>150</option>
                                <option value="200" <% if (limit === 200) { %>selected<% } %>>200</option>
                                <option value="250" <% if (limit === 250) { %>selected<% } %>>250</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Vehicles Table -->
            <div class="table-responsive">
                <% if (locals.vehicle_data) { %>
                <table class="table table-sm table-hover border border shadow" id="allTable">
                    <thead>
                        <tr>
                            <th scope="col">VIN</th>
                            <th scope="col">
                                <div class="dropdown-container">
                                    <select id="yearSelect" class="form-select small-dropdown">
                                        <option value="">Year</option>
                                        <% years.forEach(function(year) { %>
                                            <option value="<%= year %>" <% if (selectedYear === year) { %>selected<% } %>><%= year %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </th>
                            <th scope="col">Model</th>
                            <th scope="col">Body</th>
                            <th scope="col">Trim</th>
                            <th scope="col">Engine</th>
                            <th scope="col">
                                <div class="dropdown-container">
                                    <select id="transSelect" class="form-select small-dropdown">
                                        <option value="">Trans.</option>
                                        <% trans.forEach(function(trans) { %>
                                            <option value="<%= trans %>" <% if (selectedTrans === trans) { %>selected<% } %>><%= trans %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </th>
                            <th scope="col">Drivetrain</th>
                            <th scope="col">
                                <div class="dropdown-container">
                                    <select id="colorSelect" class="form-select small-dropdown">
                                        <option value="">Exterior Color</option>
                                        <% colors.forEach(function(color) { %>
                                            <option value="<%= color %>" <% if (selectedColor === color) { %>selected<% } %>><%= color %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </th>
                            <th scope="col" id="msrpHeader" onclick="toggleSortOrder()" style="cursor: pointer;">
                                MSRP
                                <i class="fas fa-sort-down" id="msrpIcon"></i>
                            </th>
                            <th scope="col">
                                <div class="dropdown-container">
                                    <select id="countrySelect" class="form-select small-dropdown">
                                        <option value="">Country</option>
                                        <option value="USA" <% if (selectedCountry === 'USA') { %>selected<% } %>>USA</option>
                                        <option value="CAN" <% if (selectedCountry === 'CAN') { %>selected<% } %>>Canada</option>
                                        <option value="MEX" <% if (selectedCountry === 'MEX') { %>selected<% } %>>Mexico</option>
                                    </select>
                                </div>
                            </th>
                            <th scope="col">Dealer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% locals.vehicle_data.forEach(function(data) { %>
                            <% 
                              function checkRPO(data) {
                                let hasOAR = false;
                                if (data.allJson) {
                                  const rpos = JSON.parse(data.allJson).Options;
                                  if (rpos) {
                                    hasOAR = rpos.includes('OAR');
                                  }
                                }
                                return { hasOAR };
                              }

                              const result = checkRPO(data);
                            %>
                            <tr style="cursor: pointer;" onmousedown="handleMouseDown(event);" data-url="/search?vin=<%= data.vin %>">
                                <td scope="row" style="text-align: left;" class="<%= result.hasOAR ? 'highlight' : '' %>"><%= data.vin %></td>
                                <td scope="row"><%= data.modelYear %></td>
                                <td scope="row"><%= data.model %></td>
                                <td scope="row"><%= data.body %></td>
                                <td scope="row"><%= data.trim %></td>
                                <td scope="row"><%= data.vehicleEngine %></td>
                                <td scope="row"><%= data.transmission %></td>
                                <td scope="row"><%= data.drivetrain %></td>
                                <td scope="row" style="text-align: left; display: flex; align-items: center;">
                                    <img id="sample" src="../img/extColors/<%= colorMap[data.exterior_color] || '../extColors/default' %>.png" width="20" height="20" style="margin-right: 8px; border-radius: 50%;">
                                    <%= data.exterior_color %>
                                </td>
                                <td scope="row" style="text-align: right;"><%= data.msrp %></td>
                                <td scope="row">
                                    <% 
                                    if (data.location) {
                                        const locationParts = data.location.split(',');
                                        if (locationParts.length > 1) {
                                            const state = locationParts[1].trim().split(' ')[0];
                                            if (["AB", "BC", "MB", "NB", "NF", "NS", "NT", "ON", "PE", "PQ", "SK"].includes(state)) { %>
                                                <img src="../img/canada_flag.png" alt="Canada" width="20">
                                            <% } else { %>
                                                <img src="../img/usa_flag.png" alt="USA" width="20">
                                            <% }
                                        } else { %>
                                            <img src="../img/mexico_flag.png" alt="Mexico" width="20">
                                        <% }
                                    } else { %>
                                        <img src="../img/mexico_flag.png" alt="Mexico" width="20">
                                    <% } %>
                                </td>
                                <td scope="row" style="text-align: left;"><%= data.dealer || 'N/A' %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <!-- Pagination -->
                 <div class="pagination-wrapper">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <!-- First Page -->
                            <% if (currentPage > 1) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=1&limit=<%= limit %>&model=<%= selectedModels.join(',') %>&rpo=<%= selectedRPO %>&trans=<%= selectedTrans %>&year=<%= selectedYear %>&color=<%= selectedColor %>&country=<%= selectedCountry %>&order=<%= selectedOrder %>">First</a>
                                </li>
                            <% } %>
                            <!-- Previous Page -->
                            <% if (currentPage > 1) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= currentPage - 1 %>&limit=<%= limit %>&model=<%= selectedModels.join(',') %>&rpo=<%= selectedRPO %>&trans=<%= selectedTrans %>&year=<%= selectedYear %>&color=<%= selectedColor %>&country=<%= selectedCountry %>&order=<%= selectedOrder %>">Previous</a>
                                </li>
                            <% } %>
                            <!-- Page Numbers -->
                            <% 
                            const pageRange = 10; // Number of pages to show around the current page
                            let startPage = Math.max(1, currentPage - Math.floor(pageRange / 2));
                            let endPage = Math.min(totalPages, currentPage + Math.floor(pageRange / 2));

                            if (currentPage - Math.floor(pageRange / 2) < 1) {
                                endPage = Math.min(totalPages, endPage + (1 - (currentPage - Math.floor(pageRange / 2))));
                            }

                            if (currentPage + Math.floor(pageRange / 2) > totalPages) {
                                startPage = Math.max(1, startPage - ((currentPage + Math.floor(pageRange / 2)) - totalPages));
                            }
                            %>
                            <% for (let i = startPage; i <= endPage; i++) { %>
                                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>&limit=<%= limit %>&model=<%= selectedModels.join(',') %>&rpo=<%= selectedRPO %>&trans=<%= selectedTrans %>&year=<%= selectedYear %>&color=<%= selectedColor %>&country=<%= selectedCountry %>&order=<%= selectedOrder %>"><%= i %></a>
                                </li>
                            <% } %>
                            <!-- Next Page -->
                            <% if (currentPage < totalPages) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= currentPage + 1 %>&limit=<%= limit %>&model=<%= selectedModels.join(',') %>&rpo=<%= selectedRPO %>&trans=<%= selectedTrans %>&year=<%= selectedYear %>&color=<%= selectedColor %>&country=<%= selectedCountry %>&order=<%= selectedOrder %>">Next</a>
                                </li>
                            <% } %>
                            <!-- Last Page -->
                            <% if (currentPage < totalPages) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= totalPages %>&limit=<%= limit %>&model=<%= selectedModels.join(',') %>&rpo=<%= selectedRPO %>&trans=<%= selectedTrans %>&year=<%= selectedYear %>&color=<%= selectedColor %>&country=<%= selectedCountry %>&order=<%= selectedOrder %>">Last</a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                 </div>
                <% } %>
            </div>
        </div>
    </div>
    <%- include('../partials/footer'); %>
    <script>
        let startX;
        let selectedOrder = "DESC";

        function toggleSortOrder() {
            selectedOrder = selectedOrder === "DESC" ? "ASC" : "DESC";
            document.getElementById('msrpIcon').className = selectedOrder === "DESC" ? 'fas fa-sort-down' : 'fas fa-sort-up';
            const params = new URLSearchParams(window.location.search);
            params.set('order', selectedOrder);
            window.location.search = params.toString();
        }

        function handleMouseDown(event) {
            startX = event.clientX;
        }

        function handleRowClick(url) {
            const distance = Math.abs(event.clientX - startX);
            if (distance > 5) {
                return;
            }
            window.location.href = url;
        }

        document.addEventListener('DOMContentLoaded', function() {
            const clearFilters = document.getElementById('clearFilters');
            const rpoSelect = document.getElementById('rpoSelect');
            const yearSelect = document.getElementById('yearSelect');
            const transSelect = document.getElementById('transSelect');
            const colorSelect = document.getElementById('colorSelect');
            const countrySelect = document.getElementById('countrySelect');
            const orderSelect = document.getElementById('orderSelect');
            const filterForm = document.getElementById('filterForm');
            const limitSelect = document.getElementById('limitSelect');
            const currentOrder = new URLSearchParams(window.location.search).get('order') || "DESC";
            selectedOrder = currentOrder;
            document.getElementById('msrpIcon').className = selectedOrder === "DESC" ? 'fas fa-sort-down' : 'fas fa-sort-up';

            clearFilters.addEventListener('click', function() {
                window.location.href = '/vehicles';
            });

            rpoSelect.addEventListener('change', function(event) {
                const selectedRPO = event.target.value;
                const url = new URL(window.location.href);
                url.searchParams.set('rpo', selectedRPO);
                url.searchParams.set('page', 1);
                window.location.href = url.toString();
            });

            yearSelect.addEventListener('change', function(event) {
                const selectedYear = event.target.value;
                const url = new URL(window.location.href);
                url.searchParams.set('year', selectedYear);
                url.searchParams.set('page', 1);
                window.location.href = url.toString();
            });

            transSelect.addEventListener('change', function(event) {
                const selectedTrans = event.target.value;
                const url = new URL(window.location.href);
                url.searchParams.set('trans', selectedTrans);
                url.searchParams.set('page', 1);
                window.location.href = url.toString();
            });

            colorSelect.addEventListener('change', function(event) {
                const selectedColor = event.target.value;
                const url = new URL(window.location.href);
                url.searchParams.set('color', selectedColor);
                url.searchParams.set('page', 1);
                window.location.href = url.toString();
            });

            countrySelect.addEventListener('change', function(event) {
                const selectedCountry = event.target.value;
                const url = new URL(window.location.href);
                url.searchParams.set('country', selectedCountry);
                url.searchParams.set('page', 1);
                window.location.href = url.toString();
            });

            limitSelect.addEventListener('change', function() {
                const limit = limitSelect.value;
                const url = new URL(window.location.href);
                url.searchParams.set('limit', limit);
                url.searchParams.set('page', 1);
                window.location.href = url.toString();
            });

            filterForm.addEventListener('submit', function(event) {
                event.preventDefault();
                
                const checkboxes = filterForm.querySelectorAll('input[type="checkbox"]');
                const selectedOptions = Array.from(checkboxes)
                                            .filter(checkbox => checkbox.checked)
                                            .map(checkbox => checkbox.value);

                const queryString = selectedOptions.map(option => `model=${option}`).join('&');
                const selectedRPO = rpoSelect.value;
                const selectedYear = yearSelect.value;
                const selectedTrans = transSelect.value;
                const selectedColor = colorSelect.value;
                const selectedCountry = countrySelect.value;
                const limit = limitSelect.value;
                const url = `/vehicles?page=1&${queryString}&rpo=${selectedRPO}&trans=${selectedTrans}&year=${selectedYear}&color=${selectedColor}&country=${selectedCountry}&limit=${limit}`;
                window.location.href = url;
            });

            document.querySelectorAll('#allTable tbody tr').forEach(row => {
                const url = row.getAttribute('data-url');
                row.addEventListener('mousedown', handleMouseDown);
                row.addEventListener('click', (event) => handleRowClick(url, event));
            });
        });
    </script>
</body>
</html>
